<%- include('partials/header'); -%>
<div class="about-us">
  <h1>Features</h1>
  <p>
    1. Customer Service + Staff
  It is no surprise that customer service is important. Diners expect a high level of service when they visit your restaurant and the only way to provide that is to make sure that your employees know their job, the menu items, their ingredients and preparation confidently. For this to happen your business must create educating strategies that will keep employees happily working for you as well as finding dedicated staff members to run core operations of your restaurant. You must also listen to your staff regarding customer feedback and operational issues and make them feel part of the team.
  Another thing to keep in mind when choosing employees and evaluating current ones is to remember that the happiness of your staff is important, choosing the right employee that will keep the internal harmony is crucial and can only help your restaurant succeed. This includes having positive team meetings, keeping stress levels down, quelling confrontation between employees and more.


  </p>
  <p>
    2. Food
    One of the major keys to having a successful restaurant is to choose the right type of food, the quality of ingredients as well as how to present your dishes. From the beginning stages of your restaurant business you should hold your kitchen to consistent food preparation standards as well as find and partner with quality food suppliers. Today’s major suppliers are offering many items pre -portioned, such as salmon, meats, vegetables and more, which eliminates waste and reduces preparation labor.
    Successful restaurants have found that by constantly updating and tweaking their menu, they ensure that their restaurant will stay modern, competitive, adjust pricing as needed and current with food trends.


  </p>
  <p>

    3. Marketing
    Marketing comprises both branding and advertising. By solidifying your restaurants personality, mission and identity, you are building your brand. Advertising is the other side of the equation; this is how you communicate your restaurant’s brand to find new and returning customers.
    The first thing you need to get right when defining your brand is thinking about the customer’s first experience of your business. This means that your restaurant should be pleasing all around the minute a customer steps in. This includes the music, decor, ambiance, cleanliness, service style, the look and feel of the menu and more. Of course the food taste, quality and value is what will have them return.
    Once you have that figured out you can then move on to advertising. This may include loyalty programs, email lists, ads in local newspapers, Yelp accounts, Google Accounts and more. All of these outlets will give you a place to expose your restaurant to new people. Also recently emerging are “Foodie Cards” which offers the diner 10% off your total check. The foodie cards are purchased by the potential diner for a fee of $30 the foodie card company then advertises the restaurants that accept the card. I have one myself and paid for itself dining out with my friends in two visits.

  
  </p>
</div>
<%- include('partials/footer'); -%>
