  <%- include('partials/header'); -%>
  <!-- Title -->
  <div class="row image-back" style="background-image: url('images/background-4.png');">
    <div class="col-lg-6 ">
      <h5 class="small-heading">MODERN.<span class="sustainable">SUSTAINABLE.</span>DELICIOUS.</h5>
      <h1 class="big-heading">FEELING HUNGRY?</h1>
      <h1 class="big-heading">ORDER FOOD NOW!</h1>
      <form class="" action="/menu">
        <button id="orderButton" type="submit" class="btn btn-warning btn-lg download-button">ORDER NOW <i class="order-button fa-solid fa-angles-right"></i></button>
      </form>

    </div>
  </div>
  </div>
  </section>


  <!-- Features -->

  <section class="white-section" id="features">
    <div class="container-fluid">
      <div class=row>

        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-bowl-food fa-4x"></i>
          <h3 class="feature-title">Delicious Food</h3>
          <p>Get the lip smackingly-delicious food online.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-motorcycle fa-4x"></i>
          <h3 class="feature-title">Lightning-fast Delivery</h3>
          <p>Get your favourite food in minimum time.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-money-bill fa-4x"></i>
          <h3 class="feature-title">Easy Payments.</h3>
          <p>Enjoy your food with cash-on delivery payment mode.</p>
        </div>
      </div>
    </div>
  </section>



  <!-- Menu -->

  <section class="white-section" id="menu">
    <div class="container food-options">
      <h2 class="heading-menu">Pick according to your mood.</h2>
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
          <form class="" action="/menu#NorthIndian">
            <div class=" north-indian p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">North-Indian</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#SouthIndian">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">South-Indian</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#Continental">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">Continental</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#Italian">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">Italian</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#Chinese">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">Chinese</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#Delicacies">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">Delicacies</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#Desserts">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">Desserts</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#Drinks">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">Drinks</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#Specials">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">Specials</button></div>
          </form>
        </div>
        <div class="col">
          <form class="" action="/menu#Featured">
            <div class="p-3 border bg-dark"><button class="btn btn-outline-warning" type="submit" name="button">Featured</button></div>
          </form>
        </div>
      </div>
    </div>

  </section>


  <!-- Testimonials -->

  <section class="white-section" id="testimonials">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">The food I ordered from this website was extremely delicious. I've enjoyed it a lot!.</h2>
          <img class="testimonial-image" src="images/testimonial-image.png" alt="dog-profile">
          <strong>Pebbles, Delhi</strong>
        </div>

        <div class="carousel-item container-fluid">

          <h2 class="testimonial-text">The food delivery was superfast and the Cash-on delivery payment mode is really helpful !</h2>
          <img class="testimonial-image" src="images/man-icon.png" alt="lady-profile">
          <strong>Beverly, Noida</strong>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <!-- Pricing -->

  <section class="colored-section" id="pricing">

    <h2 class="section-heading">The Most Affordable Deals...</h2>
    <p class="section-sub-heading">Succulent and affordable food plans for you.</p>
    <div class="row">
      <div class=" pricing-column col-lg-4 col-md-6 d-flex flex-fill align-items-stretch">
        <div class="card text-white bg-dark">
          <div class="card-header">
            <h3 class="pricing-name">The Northern Thali</h3>
          </div>
          <form class="" action="/menu#Featured">
          <div class="card-body ">

            <p class="card-background" style="background-image: url('images/northern-thali-2.png');">

              <button class="btn btn-lg btn-block  btn-dark bg-danger col-12 pricing-btn" type="submit">Order Now</button>
            </form>
            </p>

          </div>

        </div>
      </div>

      <div class="pricing-column col-lg-4  col-md-6 d-flex  flex-fill align-items-stretch">
        <div class="card text-white bg-dark">
          <div class="card-header">
            <h3 class="pricing-name">The Savoury Donuts</h3>
          </div>
          <form class="" action="/menu#Featured">
          <div class="card-body">

            <p class="card-background" style="background-image: url('images/donuts.png');">

              <button class="btn btn-lg btn-block  btn-dark col-12 bg-danger pricing-btn" type="submit">Order Now</button>
            </form>
            </p>
          </div>

        </div>
      </div>


      <div class=" pricing-column col-lg-4 col-12 d-flex flex-fill align-items-stretch">
        <div class="card text-white bg-dark">
          <div class="card-header">
            <h3 class="pricing-name">The Hyderabadi-Biryani</h3>
          </div>
          <form class="" action="/menu#Featured">
          <div class="card-body">

            <p class="card-background" style="background-image: url('images/biryani.png');">

              <button class="btn btn-lg btn-block btn-dark bg-danger col-12 pricing-btn" type="submit">Order Now</button>
            </form>

            </p>
          </div>

        </div>
      </div>


    </div>


  </section>


  <!-- Call to Action -->

  <section class="white-section" id="cta">
    <div class="container-fluid">
      <h3 class="cta-heading">Want a Better Experience? Download Our App Now!</h3>
      <button class="btn btn-lg btn-block btn-light bg-warning download-button" type="button"><i class="fa-brands fa-apple"></i> Download</button>
      <button class="btn btn-lg btn-block btn-light bg-warning download-button" type="button"><i class="fa-brands fa-google-play"></i> Download</button>
    </div>
  </section>

  <%- include('partials/footer'); -%>
