<%- include('partials/header'); -%>
<section id="Menu-Color">


<div class="box" id="heading">
    <h1>Menu</h1>
  </div>
  <div id="NorthIndian" class="menuItem">
    <label class="menu-label" for="">North-Indian</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Dal-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Chapati-50</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Rice-75</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Kadhai Paneer-200</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Lemon Rice-100</label></<input>
      </div>
  </div>

  <div id="SouthIndian" class="menuItem">
    <label class="menu-label" for="">South-Indian</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Idli-50</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Dosa-80</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Sambhar-40</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Vada-50</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Upma-100</label></<input>
      </div>
  </div>

  <div id="Continental" class="menuItem">
    <label class="menu-label" for="">Continental</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> French Toast-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> French Fries-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Pancakes-200</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Paneer Steak-500</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Cheese Pizza-500</label></<input>
      </div>
  </div>

  <div id="Italian" class="menuItem">
    <label class="menu-label" for="">Italian</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Lasagne-500</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Gelato-700</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Pasta-200</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Pizza-400</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Risotto-300</label></<input>
      </div>
  </div>
  <div id="Chinese" class="menuItem">
    <label class="menu-label" for="">Chinese</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Noodles-110</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Dim Sum-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Hamburger-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Rice Pudding-200</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Dumplings-300</label></<input>
      </div>
  </div>
  <div id="Delicacies" class="menuItem">
    <label class="menu-label" for="">Delicacies</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Sushi-250</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Neapolitan Pizza-200</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Massaman curry-200</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Oreo cookies-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Chicken Tenders-300</label></<input>
      </div>
  </div>
  <div id="Desserts" class="menuItem">
    <label class="menu-label" for="">Deserts</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Vanilla-70</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Mango-70</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Strawberry-70</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Orange-70</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Chocolate-70</label></<input>
      </div>
  </div>

  <div id="Drinks" class="menuItem">
    <label class="menu-label" for="">Drinks</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Virgin Mojito-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Mango Shake-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Ice-cream Shakes-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Soft Drinks-100</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Coffee-100</label></<input>
      </div>
  </div>

  <div id="Featured" class="menuItem">
    <label class="menu-label" for="">Featured</label>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Northern Thali-200</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Savoury Donuts-200</label></<input>
      </div>
      <div class="item">
      <input type="checkbox" name="" value=""><label> Hyderabadi Biryani-500</label></<input>
      </div>
  </div>
  <div>
      <form class="" action="/success" >
    <button id="orderButton" type="submit" class="btn btn-warning btn-lg download-button">PLACE ORDER <i class="order-button fa-solid fa-angles-right"></i></button>
  </form>
    </div>
  </section>
  <%- include('partials/footer'); -%>
