<%- include('partials/header'); -%>




<div>


<h1>
  Order Placed.
</h1>
<br />
<br />


<p>You have successfully placed your order.For any queries contact us <a href="contact">@Contact</a></p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</div>
  <%- include('partials/footer'); -%>
